<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
  function log() {
    var args = [].slice.call(arguments);
    console.log(args.join(' '));
  }
</script>

<script type="text/template" id="item-template">
  <div>
    <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
    <%= title %>
  </div>
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
<script src='./models/todo.js'></script>
<script src='./views/todo.js'></script>

<script>
</script>
</body>
</html>
